.scoreBoard {
  width: 100%;
  border: 1px solid black;

  .title {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 8px;
    height: 32px;
    display: flex;
    align-items: center;
  }
}
